.title {
  margin-top: 1em !important;
  color: black;
  border-bottom: 1px solid #e0e0e0;
}

.mainContainer {
  background-color: #fafafa;
  height: 100%;
  align-content: center;
  padding-left: 170px;
  padding-top: 35px;
}

.fixedcolumn {
  padding-bottom: 10px;
}
.paddingfix {
  padding: 15px;
}
.button {
  margin-top: 1em !important;
}

.tableCard {
  position: relative;
  height: 100%;
  background-color: white;
  box-shadow: 0px 5px 15px -10px grey;
  border-radius: 5px;
}

.tablePadd {
  padding: 10px;
}
.bordeBottom {
  padding-bottom: 20px;
}
