.title {
  margin-top: 1em !important;
  color: black;
}

.mainContainer {
  background-color: #fafafa;
  height: 100%;
  align-content: center;
  padding-left: 170px;
  padding-top: 35px;  
}

.fixedcolumn{
  padding-bottom: 10px;
}
.paddingfix{
  padding:15px;
}
.button {
  margin-top: 1em !important;
}
