.navBarContainer {
  height: 100%;
  position: fixed;
  width: 60px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right: 4px solid #f6f6f6;
}

.menuIcon {
  padding: 1em 0.5em 2em 0.5em;
  border-left: 3px solid white;
  color: #8492a6;
}

.item {
  padding: 1em 0.5em;
  border-left: 3px solid white;
  color: #8492a6;
  display: inline-block;
}

.item:hover {
  padding: 1em 0.5em;
  border-left: 3px solid #4080b7;
  animation-duration: 200ms;
  cursor: pointer;
  animation-name: itemHover;
}

@keyframes itemHover {
  from {
    border-left: 3px solid white;
  }
  to {
    border-left: 3px solid #4080b7;
  }
}

.selectedItem {
  padding: 1em 0.5em;
  border-left: 3px solid #4080b7;
  color: #8492a6;
}
