.navBarContainer {
  height: 100%;
  position: fixed;
  width: 135px;
  z-index: 1;
  left: 0;
  background-color:white;
  color: white;

}

.navBar{
  padding-top: 85px;
}

.menuIcon {
  padding: 1em 0.5em 2em 0.5em;
  border-left: 3px solid #2196f3;
  color: #8492a6;
}


.item {
  padding: 1.0em 0.5em;
  border-left: 3px solid white;
  color: white ;
  display: inline-block;
}

.item:hover {
  padding: 1em 0.5em;
  border-left: 3px solid #4080b7;
  animation-duration: 200ms;
  cursor: pointer;  
  animation-name: itemHover;
}

@keyframes itemHover {
  from {
    border-left: 3px solid white;
  }
  to {
    border-left: 3px solid #4080b7;
  }
}

.selectedItem {
  padding: 1em 0.5em;
  color: white;
}
