.navBarContainer {
  height: 100vh;
  position: fixed;
  width: 165px;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  background-color: white;
  color: white;
  border-right: 1px solid #f5f5f5;
  box-shadow: 0px 0px 20px -16px grey;
}

.navBar {
  padding-top: 85px;
  padding-left: 3px;
  padding-right: 3px;
}

.menuIcon {
  padding: 1em 0.5em 2em 0.5em;
  border-left: 3px solid #2196f3;
  color: #8492a6;
}
.fix {
  padding-left: 2px;
}
.paddingfix {
  padding-bottom: 5px;
}

.item {
  padding: 10px 20px;
  display: inline-block;
  font-size: 0.9rem;
  font-family: sans-serif;
  color: #337ab7;
  display: inline-block;
}

a {
  color: grey;
}

.item:hover {
  padding: 10px 17px;
  border-left: 3px solid #4080b7;
  animation-duration: 200ms;
  cursor: pointer;
  animation-name: itemHover;
  border-radius: 5px;
  width: 100%;
  border-left: 3px solid #5094cf;
  animation-duration: 200ms;
  background-color: #e3f2fd;
  font-family: sans-serif;
}
.item:hover > a {
  color: #5094cf;
}

@keyframes itemHover {
  from {
    border-left: 3px solid white;
  }
  to {
    border-left: 3px solid #4080b7;
  }
}

.selectedItem {
  padding: 10px 17px;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: bolder;
  border-left: 3px solid #5094cf;
  background-color: #e3f2fd;

  font-family: sans-serif;
}
.selectedItem > a {
  color: #5094cf;
}

.loader {
  position: fixed;
  z-index: 10;
  left: 45%;
  top: 35%;
}

.breakWord {
  hyphens: auto;
}
